:root {
	--primary-color: #314155;
	--secondary-color: aquamarine;
	--tertiary-color: #fff;
}
body {
	margin: 0;
	font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
		"Lucida Sans", Arial, sans-serif;
	font-size: 18px;
	background-color: var(--tertiary-color);
	color: var(--primary-color);
}
/* apply styles to <header> */
header {
	padding: 10px 5px 10px 0px;
	background-color: var(--primary-color);
	display: flex;
	justify-content: space-between;
}
header nav {
	margin: 7px 0;
	color: var(--secondary-color);
}
header nav ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	list-style: none;
}
header nav ul li a {
	padding: 10px 15px;
	font-weight: lighter;
	font-size: 1.55vw;
	text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
/* End Header Style */

h1 {
	display: flex;
	padding: 20px 10px 20px;
	margin: 0;
	margin-bottom: 0;
	margin-left: 100px;
	font-size: 32px;
	color: var(--primary-color);
}
h3 {
	font-size: 24px;
}
a {
	color: var(--secondary-color);
}
p {
	padding: 5px 10px 20px 20px;
	text-align: left;
}
span {
	font-size: 16px;
}
footer {
	margin: 0% 5% 0% 5%;
	padding: 0% 85% 0% 4%;
}
footer nav ul {
	list-style: none;
}
footer nav ul li a {
	color: var(--primary-color);
	font-weight: bold;
}
.flex-header {
	display: flex;
	justify-content: right;
	flex-direction: row-reverse;
	background-color: var(--secondary-color);
}
.header-nav {
	color: aquamarine;
}
.hero {
	background-image: url(../assets/forest-background-pine-trees-silhouette-template-vector-23228125.jpg);
	z-index: 0;
	background-color: #0a1b25;
	background-size: cover;
	background-attachment: fixed;
	background-position: 100%;
	padding: 0.5%;
}
.headshot {
	background-image: url(../assets/headshot-af.jpeg);
	background-size: cover;
	width: 300px;
	height: 200px;
	box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.5);
}
.my-portfolio {
	display: flex;
	justify-content: flex-end;
	padding: 1%;
}
.hero-st {
	display: flex;
	justify-content: center;
	width: 10%;
	padding: 0 1%;
	color: var(--primary-color);
	background-color: var(--secondary-color);
}
.section-title {
	display: flex;
	border-right: 3px solid var(--primary-color);
	padding: 0px 20px 20px 0px;
	color: var(--primary-color);
	font-size: 32px;
	text-align: right;
}
.about-me {
	display: flex;
	justify-content: flex-end;
	color: var(--primary-color);
	font-size: 32px;
	text-align: right;
	margin: 2% 10% 0% 10%;
}
.bio {
	width: 90%;
	display: flex;
	font-size: 18px;
	color: var(--primary-color);
}
.work {
	width: 80%;
	display: flex;
	font-size: 18px;
	color: var(--primary-color);
	margin: 0% 0 0 11%;
}
.work-title {
	display: flex;
	justify-content: flex-end;
	border-right: 3px solid var(--primary-color);
	padding: 0px 10px 20px 0px;
	color: var(--primary-color);
	font-size: 32px;
	text-align: right;
}
.work-container {
	width: 100%;
	height: 50%;
	margin: 2% 2%;
}
.project-tags {
	background-color: var(--secondary-color);
	padding: 0 1% 1% 1%;
}
.surf-report {
	background-image: url("../assets/surf-report.jpg");
	background-size: cover;
	display: flex;
	align-items: flex-end;
	margin: 0 0 1% 0;
	padding: 20% 0 2% 0;
	border: 5px solid var(--secondary-color);
	height: 50%;
}
.surf-report:hover {
	opacity: 0.5;
}
.project-container {
	display: flex;
	flex-wrap: wrap;
	height: 60%;
	width: 104.8%;
}
.LED-wall {
	background-image: url("../assets/led-wall.jpg");
	background-size: cover;
	border: 5px solid var(--secondary-color);
	display: flex;
	align-items: flex-end;
	height: 45%;
	width: 45%;
	margin: 1% 1% 1% 0%;
	padding: 5% 1% 3% 0;
}
.LED-wall:hover {
	opacity: 0.5;
}
.calculator {
	background-image: url("../assets/calculator.jpg");
	background-size: cover;
	border: 5px solid var(--secondary-color);
	display: flex;
	align-items: flex-end;
	height: 45%;
	width: 45%;
	margin: 1% 0% 0% 2%;
	padding: 6% 0% 2% 0%;
}
.calculator:hover {
	opacity: 0.5;
}
.pastel-puzzles {
	background-image: url("../assets/pastel-puzzles.jpg");
	background-size: cover;
	border: 5px solid var(--secondary-color);
	display: flex;
	align-items: flex-end;
	height: 45%;
	width: 45%;
	margin: 2% 3% 0% 0%;
	padding: 5% 1% 3% 0;
}
.pastel-puzzles:hover {
	opacity: 0.5;
}
.run-buddy {
	background-image: url("../assets/run-buddy-snip.jpg");
	background-size: cover;
	border: 5px solid var(--secondary-color);
	display: flex;
	align-items: flex-end;
	height: 45%;
	width: 45%;
	margin: 2% 0% 0% 0%;
	padding: 5% 0% 3% 0%;
}
.run-buddy:hover {
	opacity: 0.5;
}
.contact-me {
	display: flex;
	width: 35%;
	margin: 0%;
	padding: 10% 0% 0% 9%;
	justify-content: space-between;
}
.contact-info {
	display: flex;
	justify-content: space-between;
	color: var(--primary-color);
	margin: 10% -180% 0% 0%;
}
#about-me {
	width: 100%;
}
#work {
	width: 100%;
}
#contact-me {
	width: 100%;
}
/*MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
	/* this will be applied on any acreen smaller than 980px */
	header {
		padding-bottom: 0;
		justify-content: center;
		position: relative;
	}
	header h1 {
		width: 100%;
		text-align: center;
	}
	header nav ul {
		margin-top: 20px;
		width: 100%;
		justify-content: center;
	}
	header nav ul li a {
		font-size: 20px;
	}
	footer h2,
	footer div {
		text-align: center;
		width: 100%;
	}
	.hero-cta,
	.hero-form {
		width: 100%;
	}
	.hero-cta {
		text-align: center;
	}
	.section-title {
		width: 80%;
	}
	.trainer {
		flex: 0 70%;
	}
	.contact-info iframe {
		flex: 1 100%;
	}
}

/* MEDIA QUERY FOR TABLETS AND SMALLER */

@media screen and (max-width: 768px) {
	/* this will be applied on any screen between 768px and 575px */

	section {
		padding: 30px 15px;
	}
	.step h3 {
		flex: 1 100%;
		text-align: center;
	}
	.step-info {
		flex: 2 100%;
		text-align: center;
		justify-content: center;
	}
	.step-img {
		flex: 0 32%;
		margin-right: 0;
		margin-top: 15px;
		margin-bottom: 15px;
	}
	.step-text {
		flex: 100%;
	}
}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */

@media screen and (max-width: 575px) {
	/* this will be applied on any screen smaller than 575px */

	.hero-form button {
		width: 100%;
	}
	.section-title {
		width: 100%;
	}
	.intro p {
		width: 100%;
	}
	.trainer {
		flex: 0 100%;
	}
	.contact-info {
		text-align: center;
	}
	.contact-info > * {
		flex: 0 100%;
	}
	.contact-form {
		order: 3;
	}
}
