:root {
	--primary-color: #314155;
	--secondary-color: #39a6b2;
	--tertiary-color: #fff;
}
body {
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	background-color: var(--tertiary-color);
	color: var(--primary-color);
}
/* apply styles to <header> */
header {
	padding: 10px 5px;
	background-color: var(--primary-color);
	display: flex;
	justify-content: space-between;
}
header nav {
	margin: 7px 0;
	color: var(--secondary-color);
}
header nav ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	list-style: none;
}
header nav ul li a {
	padding: 10px 15px;
	font-weight: lighter;
	font-size: 1.55vw;
	text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
/* End Header Style */

h1 {
	display: flex;
	padding: 20px 10px 20px;
	margin: 0;
	margin-bottom: 0;
	margin-left: 100px;
	font-size: 32px;
	color: var(--primary-color);
}

h2 {
	font-size: 24px;
}
a {
	color: var(--secondary-color);
}

footer nav ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	list-style: none;
}
footer nav ul li a {
	color: #314155;
	text-decoration-line: none;
}
.flex-header {
	display: flex;
	justify-content: right;
	flex-direction: row-reverse;
	background-color: var(--secondary-color);
}
.hero {
	background-image: url(../assets/forest-background-pine-trees-silhouette-template-vector-23228125.jpg);
	padding: 150px 50px 20px;
	background-color: #0a1b25;
	display: flex;
	justify-content: flex-end;
	background-size: cover;
	background-attachment: fixed;
	background-position: 100%;
}
.box {
	display: flex;
	justify-content: center;
	padding: 0 15px 0 15px;
	color: var(--primary-color);
	background-color: var(--secondary-color);
}
.about-me {
	margin: 50px auto;
	width: 80%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	font-size: 48px;
	color: var(--primary-color);
	border-right: 3px solid;
	padding-bottom: 100px;
	margin: 0 auto 35px auto;
}
.bio {
    margin: 50px auto;
	width: 80%;
	display: flex;
	flex-wrap: wrap;
	align-items: right;
	justify-content: space-between;
	font-size: 18px;
	color: var(--primary-color);
	
	padding-bottom: 100px;
	margin: 0 auto 35px auto;

}
.work {
	width: 1024px;
	margin: 0 auto;
	padding: 20px 35px;
	display: flex;
	flex-direction: column;
}
.contact {
	width: 1024px;
	margin: 0 auto;
	padding: 20px 35px;
}
#about-me {
	width: 70%;
	border: 2px solid red;
}
#work {
	width: 70%;
	border: 2px solid blue;
}
#contact-me {
	width: 70%;
	border: 2px solid green;
}
